doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://code.jquery.com/jquery-2.2.0.min.js')
    script(src='/javascript/index.js')
  body
    block content
